{%  extends "masterpage.html" %}
{% block content %}
{% set active_page = "show" %}

    <head>
    <style>
        .container {
            height: 900px;
        }
        .row {
            text-align: center ;
        }
    </style>

    </head>
    <body>

    <div class="row">
    {% if not session.logged_in %}
       <script language="javascript">
    window.location.href = "{{ url_for('login') }}"
        </script>
    {% else %}
    {% if message!=None %}
    <div class=flash style="color: red">
        <h4>{{ message }}</h4>
    </div>
    {% endif %}
    <h2 style="text-decoration: underline">List of user id and username:</h2>
    {% for x in all_users %}
    <li><h4>User id: {{ x[0] }}, Username:  {{ x[1] }}</h4>
    <form onsubmit="return confirmation()" action="{{ url_for('admin_users') }}" method=post>
    <input type=submit name={{ x[0] }} value=Promote class="btn btn-success" role="button">
    <input type=submit name={{ x[1] }} value=Remove class="btn btn-danger" role="button">
    </form>
    </li><br>
    {% endfor %}
    {% endif %}
    </div>
    </body>

{%  endblock %}