{%  extends "masterpage.html" %}
{% block content %}
{% set active_page = "show" %}

    <head>
    <style>
        .order{
            border-bottom: 1px solid #e5e5e5;
        }
    </style>
    </head>
    <body>

    <div class="row">
    {% if not session.logged_in %}
       <script language="javascript">
    window.location.href = "{{ url_for('login') }}"
</script>
    {% else %}

    <div class=flash>
        {{ message }}
    </div>
    <h3>Orders for {{ session.username }}</h3>
    {% for x in order_list %}
    <div class="order">
    <div class='row'>
    <h4>Order #{{ x[0] }} placed at {{x[2]}} total amount {{ x[5] }}</h4>
    <a class="btn btn-success" href="/orders/{{ x[0] }}" role="button">View order details &raquo;</a>
    </div>
    </div>
    {% endfor %}

    {% endif %}
    </div>
    </body>

{%  endblock %}