{%  extends "masterpage.html" %}
{% set active_page = "products" %}
{%  block content %}

    <body>
    <div class='row'>
        <script> var a=0;</script>
        {%  for mess in data %}
            <script>
                if (a%3==0 ) {
                    document.write("</div><div class='row'>")
                }
                a++;</script>
            <div class="col-md-4">
                <a href="/products/{{ mess[1] }}"> <img src="/static/uploads/{{ mess[9] }}" width="280px" height="187px" ></a>
 <h2>{{ mess[1]}}<p> {{ mess[2]  }}:-</p></h2>
                <p>{{ mess[7] }}</p>
                <p><a class="btn btn-success center-block" href="/products/{{ mess[1] }}" role="button">View details &raquo;</a></p>
            </div>
        {% endfor %}
    </div>
    </body>

{%  endblock %}